.template
  +message({
    author: 'Evgeniy Sesin', 
    text: 'Larnaca - Limassol, 28.09, at 6am, chip in for petrol', 
    avatar: 'img/males/male.png',
    mod: 'long', 
    background: 'blue',
    textAttr: `messageOne`})(data-number='1')
  +message({
    author: 'Andy Bowie', 
    text: 'Larnaca - Limassol, 28.09, at 6am, chip in for petrol', 
    avatar: 'img/males/male-1.png', 
    background: 'yellow',
    textAttr: `messageOne`})(data-number='4')
  +message({
    author: 'Semen Vishnevskiy', 
    text: 'Anybody goes from Paphos to Larnaca any time soon?', 
    avatar: 'img/males/male-3.png', 
    background: 'pink',
    textAttr: `messageTwo`})(data-number='2')
  +message({
    author: 'Pavel Velgir', 
    text: 'Going in 40 minutes to Limassol <br>- Paphos. Petrol chip in', 
    avatar: 'img/males/male-2.png',
    mod: 'long', 
    background: 'green',
    textAttr: `messageThree`})(data-number='3')
  +message({
    author: 'Alexandr Ivashenko', 
    text: 'At 7pm going from Limassol to Larnaca', 
    avatar: 'img/males/male-4.png', 
    background: 'violet',
    textAttr: `messageFour`})(data-number='5')
  +language-toggler
  .template__bg
  .template__main
    .template__website
      .template__logo
        img(src="img/logo.png", alt="compas-logo")
      .template__name Compas
    h1.template__title(data-translate-key='title') Find your trip companion<br> in Cyprus
    .template__subtitle(data-translate-key='subtitle')
      | Create your own trips or join other drivers.<br>
      | Compas lets you easily send a package or find trip companions,<br>
      | so you could travel around comfortly based on people’s rates and feedback!
      //- | Публикуйте свои поездки<br class='mobile'> или присоединяйтесь к другим водителям.<br>
      //- | С нами легко отправить посылку, забронировать места в машине,
      //- | и ездить<br class='mobile'> с комфортом на основе отзывов<br class='mobile'> и предпочтений
    .template__links
      a(href="https://apps.apple.com/cy/app/compas-carpooling-cyprus/id6454785905" target='_blank').app-link 
        .app-link__img
          img(src="img/app-store-icon.svg", alt="apple-icon")
        .app-link__text
          img(src="img/app-store-text.svg", alt="Download on the App Store")
      a(href="https://play.google.com/store/apps/details?id=com.mycompas.compas" target='_blank').app-link 
        .app-link__img
          img(src="img/playmarket-icon.svg", alt="google-play-icon")
        .app-link__text
          img(src="img/playmarket-text.svg", alt="Get it on Goolge play")
  
  .template__footer
    a(href="/privacy-policy.html").template__link.term-service-link(data-translate-key='termsLink') Terms of Service
    //- .decor
    //- a(href="#").template__link Публичная оферта
    .decor
    a(href="/user-agreement.html").template__link.privacy-policy-link(data-translate-key='privacyLink') Privacy Policy


