.side-modal {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  height: 100%;
  transform: translateX(100%);
  @include transition('transform');
  z-index: 10;

  &.is-active {
    transform: translateX(0);
  }

  &__wrapper {
    height: inherit;
    position: relative;
    display: flex;
    column-gap: 16px;
  }

  &__close {
    outline: none;
    border: none;
    padding: 0;
    position: relative;
    top: 16px;
    width: 48px;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(101, 99, 222, 0.02), 0px 6.6501px 5.32008px 0px rgba(101, 99, 222, 0.03), 0px 12.52155px 10.01724px 0px rgba(101, 99, 222, 0.04), 0px 22.33631px 17.86905px 0px rgba(101, 99, 222, 0.04), 0px 41.77761px 33.42209px 0px rgba(101, 99, 222, 0.05), 0px 100px 80px 0px rgba(101, 99, 222, 0.07);
    background-color: $white;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__content {
    width: 480px;
    // overflow: hidden;
    height: inherit;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 24px 0px 0px 24px;
    background-color: $white;
    box-shadow: -48px 4px 48px 0px rgba(101, 99, 222, 0.08);
  }

  &__title {
    padding: 0 36px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.21px;
  }

  &__text {
    // calc(100% - 28.8px - 36px)
    height: 100%;
    display: block;
    overflow-y: auto;
    padding: 0 36px;
    padding-bottom: 36px;
    // txt
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.41px;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      padding-top: 81px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      height: 40px;
      border-radius: 36px 0px 0px 36px;
      background-color: $grey;
    }
  }

  &__link {
    @media (hover: hover) {
      &:hover {
        color: #9fffb3;
      }
    }
  }
}

@media (max-width: $mobile-big) {
  .side-modal {
    &__content {
      width: 100vw;
      height: 100vh;
    }

    &__close {
      width: calc(100% - 72px);
      height: 48px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      top: auto;
    }
  }
}
