mixin side-modal()
  .side-modal
    .side-modal__wrapper
      button(type='button' data-modal-close).side-modal__close
        img(src="img/cross.svg", alt="x")
      .side-modal__content
        .side-modal__title Пользовательское соглашение
        .side-modal__text бла бла бла