// Widths   420 479 575 640 767 991 1199 1400
$mobile-sm: 479px;
$mobile: 575px;
$mobile-big: 767px;
$tablet: 991px;
$desktop: 1199px;

$grid-spacing: 30px;
$grid-spacing-sm: 20px;

$base-img: '../img/';

$font-size: 16px;
$line-height: 1.5;
// Fonts
$default-font: 'Raleway', sans-serif; //400/700
$additional-font: 'UI Display', sans-serif; //400

// Colors
$white: #fff;
$black: #000000;
$color-error: #e60000;
$blue: #dffffd;
$yellow: #fbffdf;
$green: #dfffe6;
$violet: #e5dfff;
$pink: #fce8ff;
$grey: #e7e7f2;
